<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<ion-header>

  <ion-navbar color="primary">

    <ion-title><h4 style="font-family: 'Lobster', cursive;">TaskWare</h4></ion-title>

    <ion-buttons end>

      <button ion-button icon-only (click)="addtodo()">
          <ion-icon name="add"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)"></ion-searchbar>!-->

  <ion-item-group>
      <ion-item-divider>TASKS</ion-item-divider>
       <ion-item *ngIf="(todoDataRef$ | async)?.length==0" style="color:white; text-align:center; background-color:lightgray;">No tasks..</ion-item>
       <!-- If not catergory -->
       <div *ngIf="!catergorized">
             <ion-item *ngFor="let item of todoDataRef$ | async" text-wrap no-lines>
                 <ion-icon (click)="selectTodoItem(item)" name="radio-button-off" item-start></ion-icon>
                 <h2 (click)="selectTodoItem(item)" style="color:#488aff; font-weight:bold; font-size:18px; text-transform: capitalize;">{{item.Title}}</h2>
                 <h3 (click)="selectTodoItem(item)" style="font-size:15px;">{{item.Desc}}</h3>
                 <span *ngIf="(item.Cat)?.length != null"><button ion-button outline style="color:#488AFF;" (click)="sortByCategory(item.Cat)"><ion-icon name="folder" style="padding:3px"></ion-icon>{{item.Cat}}</button></span>
             </ion-item>
       </div>
       <!-- If catergory -->
       <div *ngIf="catergorized">
        <ion-item *ngFor="let cat of appliedCatergories" style="color:white; text-align:center; background-color:lightgray;">
          <p>Sorted By:</p>
          <button ion-button icon-end (click)="removeCategory()">{{cat}} <ion-icon name="close"></ion-icon></button>
        </ion-item>
         <ion-item *ngFor="let item of catergorized"  text-wrap no-lines>
           <ion-icon (click)="selectTodoItem(item)" name="radio-button-off" item-start></ion-icon>
             <h2 (click)="selectTodoItem(item)" style="color:#488aff; font-weight:bold; font-size:18px; text-transform: capitalize;">{{item.Title}}</h2>
             <h3 (click)="selectTodoItem(item)" style="font-size:15px;">{{item.Desc}}</h3>
             <span *ngIf="(item.Cat)?.length != null"><button ion-button outline style="color:#488AFF;" (click)="sortByCategory(item.Cat)"><ion-icon name="folder" style="padding:3px"></ion-icon>{{item.Cat}}</button></span>
         </ion-item>
       </div>
       <button ion-button clear full (click)="addtodo()" style="margin-top:30px;">+ ADD TASK</button>
       <div style="padding:25px;"></div>
   </ion-item-group>


</ion-content>
