page-about {

}

.completed{
  > div {
    background-color:#32db64!important;
  }
}
.incompleted{
  > div {
    background-color:red!important;
  }
}

.completed{
  color: #32DB64!important;
}
.delete{
  color:red!important;
}
.edit{
color:#488AFF!important;
}

.platform-ios{
  .ios-icon {
    font-size: 40px;
  }
}
