.ios{

  .register{
    margin-top:-10px;
  }
  ._header {
    font-weight: bold;
    border: 2px solid #e4e4e4;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #ededed;
    padding:5px;
  }

}
.md{
  .register{
    margin-top:-30px;
  }
  ._header {
    font-weight: bold;
  }
}



page-register {

}
