<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Account Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <div class="progress-outer" *ngIf="progress">
        <div class="progress-inner" [style.width.%]="progress">
            {{progress}}%
        </div>
    </div>
    <div *ngIf="image" style="width:45%; padding-top:12px; margin:0 auto;">
      <ion-avatar *ngIf="image">
        <img [src]="image">
      </ion-avatar>
    </div>
    <div *ngIf="!image" style="width:130px; padding-top:12px; margin:0 auto;">
      <ion-avatar>
        <img src="https://s3.amazonaws.com/ionic-app-imgs/User_Circle.png">
      </ion-avatar>
    </div>
    <p style="font-weight:bold;"><button ion-button block clear (click)="choose()">Change Profile Picture</button></p>

  <ion-item>
        <ion-label floating>First Name</ion-label>
      <ion-input #firstname [ngModel]="(ProfileRef$ | async)?.firstName"></ion-input>
  </ion-item>
  <ion-item style="padding-bottom:10px;">
        <ion-label floating>Last Name</ion-label>
      <ion-input #lastname [ngModel]="(ProfileRef$ | async)?.lastName"></ion-input>
  </ion-item>


  <button ion-button block (click)="createProfile({firstName: firstname.value, lastName: lastname.value})" style="margin-top:15px;">Update Profile</button>

  <ion-item-divider style="margin-top:25px">YOUR ACCOUNT ADMIN</ion-item-divider>
  <ion-list>

    <ion-list>
        <ion-item no-lines>
          <div *ngIf="true">
            <button ion-button>Connect Your Account</button>
          </div>
          <div *ngIf="false">
            <ion-avatar item-start>
              <img src="https://s3.amazonaws.com/ionic-app-imgs/User_Circle.png"/>
            </ion-avatar>
            <h2 style="color:#488AFF;">Admin Title</h2>
            <h2 style="text-transform: capitalize">Admin Name</h2>
          </div>
        </ion-item>
    </ion-list>

  </ion-list>

  <ion-item-divider style="margin-top:25px">ABOUT TASKWARE</ion-item-divider>

  <ion-list>

      <ion-item (click)="toPrivacyPage()">
            Privacy Policy
      <ion-icon item-right icon-only name="arrow-dropright"></ion-icon>
      </ion-item>
       <a style="text-decoration:none; color:gray;" href="#" onclick="window.open('https://d3kbsxvq7os3rv.cloudfront.net/', '_system', 'location=yes'); return false;">
      <ion-item >

          Developer Website
      <ion-icon item-right icon-only name="arrow-dropright"></ion-icon>
      </ion-item>
      </a>

      <ion-item no-lines style="padding-bottom:20px;">
      Version
      <p item-right>0.0.4</p>
      </ion-item>

      <button  ion-button block color="danger" (click)="signOut()">
        Logout
      </button>

  </ion-list>

</ion-content>
