<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<ion-header>
  <ion-navbar color="primary">
        <ion-title><h4 style="font-family: 'Lobster', cursive;">TaskWare</h4></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item-divider>USER PROFILE
  </ion-item-divider>
  <ion-list>
      <ion-item no-lines>
        <ion-avatar item-start *ngIf="!image">
          <img src="https://s3.amazonaws.com/ionic-app-imgs/User_Circle.png"/>
        </ion-avatar>
        <ion-avatar item-start *ngIf="image">
          <img [src]="image"/>
        </ion-avatar>
        <h2 style="color:#488AFF;">Welcome</h2>
        <h2 style="text-transform: capitalize">{{(profileData | async)?.firstName}} {{(profileData | async)?.lastName}}</h2>
      </ion-item>
      <button ion-button block (click)="updateProfile()">
      Account Settings
      </button>
  </ion-list>

    <ion-item-divider>OVERVIEW</ion-item-divider>
    <ion-item no-lines>
         <p style="text-align:center;">You have <span style="color:#488AFF;">{{(todoDataRef$ | async)?.length}}</span> task<span *ngIf="(todoDataRef$ | async)?.length == 0 || (todoDataRef$ | async)?.length > 1">s</span> left!</p>
       <ion-card-content text-wrap>
         <ion-item *ngIf="(todoDataRef$ | async)?.length==0" style="color:gray; text-align:center;"><ion-icon style="font-size:25px;" name="done-all"></ion-icon> No Tasks</ion-item>
         <ion-item *ngFor="let item of todoDataRef$ | async |  slice:0:2; let i=index">
           <h2 style="color:#488aff; font-weight:bold; font-size:18px; text-transform: capitalize;"> {{ item.Title }} </h2>
           <h3  style="font-size:15px; color:#202020">{{ item.Desc }}</h3>
           <h3 *ngIf="(item.Date)?.length != null"><ion-icon name="calendar" style="padding:3px; color:gray"></ion-icon> <span style="color:#488AFF;">{{item.Date |  date:'MMM/dd/yyyy'}}</span></h3>
           <span *ngIf="(item.Cat)?.length != null"><button ion-button outline style="color:#488AFF;"><ion-icon name="folder" style="padding:3px"></ion-icon>{{item.Cat}}</button></span>
         </ion-item>
          <button  *ngIf="(todoDataRef$ | async)?.length==0" ion-button block outline (click)="switchTabs()">Add Task</button>
          <button  *ngIf="(todoDataRef$ | async)?.length!=0" ion-button block outline (click)="switchTabs()">View All</button>
       </ion-card-content>

     </ion-item>

     <ion-item-divider class="pad">ANALYTICS <span style="float:right; color:#488AFF;padding-right:10px;">
         {{this.year}}
       </span>
     </ion-item-divider>
     <ion-item no-lines>
       <canvas #lineCanvas></canvas>
     </ion-item>

</ion-content>
