.md {

    page-home {

        .scroll-content {
            background-color: map-get($colors, light);

        }

        ion-card-header {
            font-weight: bold;
        }

        .pad{
          margin-top:15px;
        }

    }


}

.ios{

  page-home {
    .scroll-content {
      background-color: map-get($colors, light);
    }
    .pad{
      margin-top:32px;
    }

  }

  ion-item-divider{
      background-color: white;
      border-bottom: 1px solid lightgray;
      color:gray;
      font-size:14px;
  }


}

.toast-success {
  > div{
       background-color:#32db64!important;
   }
}
