<!--
  Generated template for the SuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div *ngIf="this.test === true" style="text-align:center; margin-top:51%; padding:10px;">
    <ion-spinner name="bubbles" *ngIf="this.test === true"></ion-spinner>
    <h4 style="padding:10px; color:#3582DE"><i class="fas fa-cloud-upload-alt"></i> Uploading Please Wait...</h4>
    <p>This may take a few seconds</p>
  </div>
  <div *ngIf="this.test === false" style="text-align:center; margin-top:51%; padding:10px;">
    <h4 style="padding:10px; color:#3582DE"><i class="fas fa-check"></i> Photo Ready For Upload!</h4>
    <p>Tap below to finish the upload</p>
    <button ion-button round (click)="return()" color="secondary">Finish Upload</button>
  </div>
</ion-content>
